.dropbox-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    padding: 128px 222px;
    border: dashed 4px transparent;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    background-image:
            linear-gradient(90deg, var(--color-black) 50%, transparent 50%),
            linear-gradient(90deg, var(--color-black) 50%, transparent 50%),
            linear-gradient(0deg, var(--color-black) 50%, transparent 50%),
            linear-gradient(0deg, var(--color-black) 50%, transparent 50%);
    background-size: 20px 4px, 20px 4px, 4px 20px, 4px 20px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    animation: border-dash 1s linear infinite;
  }

  &__hint {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
  }
}

@keyframes border-dash {
  to {
    background-position: 20px 0, -20px 100%, 0 -20px, 100% 20px;
  }
}