.sidebar {
  background-color: #E4F1FE;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  height: 1120px;
  &.sidebar--open {
    width: 300px;
  }

  &.sidebar--closed {
    width: 60px;
    height: 75px;
  }

  &__header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 30px;
    transition: all 0.3s ease;

    .sidebar--closed & {
      justify-content: center;
      padding: 15px;
      border-bottom: none;
    }
  }

  &__header-left {
    display: flex;
    align-items: center;

    .sidebar--closed & {
      display: none;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;

    .sidebar--closed & {
      width: 100%;
      justify-content: center;
    }
  }

  &__content {
    padding: 20px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    &--hidden {
      opacity: 0;
      max-height: 0;
      visibility: hidden;
      padding: 0 20px;
    }
  }
}

.button--add-material {
  transition: all 0.3s ease;
}

.button--toggle-sidebar {
  transition: all 0.3s ease;
  flex-shrink: 0;
}