.sidebar{
  width: 300px;
  transition: 0.5s all;
  &--inner{
    background-color: #E4F1FE;
    max-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__actions{
    display: flex;
    align-items: center;
    column-gap: 10px;
    &-closed{
      margin-top: 15px;
    }
  }
}